<div class="container">
<h1>About Me</h1> 
    <p class="text-justify"> Hello! My name is Kesi. Thanks for stopping by kesitoandfro.com. I created this website so that my friends and family can <strong> Follow The Fro</strong> (a.k.a - keep them updated on my Global Journey).  Feel free to check out my blog, pictures, and travel guides!      </p>

    <h5><strong>W</strong>harton 
        <small>Where I started</small> 
    </h5>
    
    <h5 class="text-center"><strong>W</strong>all Street 
        <small>Where I Am</small>
    </h5>
    
    <h5 class="text-right">The <strong>W</strong>orld 
        <small> My Future </small>
    </h5>
</div>