<div class="jumbotron center">
    <h1>Kesi To and Fro</h1>
    <p>Follow me on my adventures around the world.
        <br>
        <br><%= link_to "Click for Email Updates", new_user_registration_path, class:"btn btn-primary btn-lg"%>
        </br>
        </br>
    </p>
</div>

<div class="boxed">
</div>